@tailwind base;
@tailwind components;
@font-face {
  font-family: "Corsiva";
  src: url("/public/assets/fonts/mtcorsva.woff") format("woff");
}
@font-face {
  font-family: "Malinda";
  src: url("/public/assets/fonts/malinda.woff") format("woff");
}
@tailwind utilities;
@layer components {
  .badge {
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.1');
    box-shadow: theme('boxShadow.xl');
  }
}